.lunch {
  color: white;
}
.dinner {
  color: black;
}
#custom-month {
  @include font-size(35px);
  margin-right: 20px;
}
#custom-year {
  @include font-size(35px);
}
.center-title {
  text-align: center;
}