button, .button {
  padding: 10px 20px;
  color: white;
  background-color: $purple;
  &:hover {
    background-color: $green;
    color: black;
  }
}
.delete-worker {
  margin-top: 20px;
}
label {
  color: white;
}
.edit.delete-btn {
  margin: 17px 0 0 0;
}
.inline-btn {
  margin-left: 50px;
}