extends layout

block content
  section.admin-create
    .row
      .medium-6.medium-centered.columns
        h1.center-title Create New Employee
        .ajax-success
        .ajax-fail
      .route-path(data="/admin/create")
      form(data-abide="ajax" class="form" role="form")
        .row
          .small-10.medium-6.small-centered.columns
            label
              | Employee's First Name
              input(type='text' name="firstName" placeholder='First Name')
          .small-10.medium-6.small-centered.columns
            label
              | Employee's Last Name
              input(type='text' name="lastName" placeholder='Last Name')
        .last-row
          .small-10.medium-6.small-centered.columns.center-text
            button(type="submit" class="submit-btn") Submit
append scripts
  script(src="/js/libs/datepicker.js")
  script(src="/js/xhr.js")