if (loggedIn)
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name
        a(href='/calendar')
          img(id="logo" src="/img/natsunoya.png", alt="logo")
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.right
        if (!admin)
          li.has-dropdown
            a(href='#') Admin Login
            ul.dropdown
              form(data-abide="ajax" class="form" role="form")
                li
                  input(type="text" name="username" class="login-input" placeholder="Username" required)
                li.last
                  input(type="password" name="password" class="login-input login-pw" placeholder="Password" required)
                  button(type="submit" class="purple-btn") Login
        else
          li.has-dropdown
            a(href='#') Admin Options
            ul.dropdown
              li.active
                a(href='/admin') Schedule
              li.active
                a(href='/admin/edit') Edit
              li.active
                a(href='/admin/create') New Employee
              li.active
                a(href='/logout') Logout