nav.top-bar(data-topbar='', role='navigation')
  ul.title-area
    li.name
      a(href='/')
        img(id="logo" src="/img/natsunoya.png", alt="logo")
    li.toggle-topbar.menu-icon
      a(href='#')
        span Menu
  section.top-bar-section
    ul.right
      //- li.has-dropdown
      //-   a(href='#') Admin Login
      //-   ul.dropdown
      //-     form(method="POST" action="/login" role="form")
      //-       li
      //-         input(type="text" name="username" placeholder="Username" required)
      //-       li
      //-         input(type="password" name="password" placeholder="Password" required)
      //-         button(type="submit" class="purple-btn") Login
      if (admin)
        li.has-dropdown
          a(href='#') Admin Options
          ul.dropdown
            li.active
              a(href='/admin') Schedule
            li.active
              a(href='/admin/edit') Edit
            li.active
              a(href='/admin/create') New Employee
            li.active
              a(href='/logout') Logout