nav.top-bar(data-topbar='', role='navigation')
  ul.title-area
    li.name
      h1
        a(href='/') Naughty Natsunoya
    li.toggle-topbar.menu-icon
      a(href='#')
        span Menu
  section.top-bar-section
    ul.right
      li.has-dropdown
        a(href='#') Admin Login
        ul.dropdown
          form(method="POST" action="/login" role="form")
            li
              input(type="text" name="username" placeholder="Username")
            li
              input(type="password" name="password" placeholder="Password")
              button(type="submit") Login
      li.has-dropdown
        a(href='#') Right Button Dropdown
        ul.dropdown
          li
            a(href='#') First link in dropdown
          li.active
            a(href='#') Active link in dropdown