extends layout

block content
  div.container
    div.custom-calendar-wrap.custom-calendar-full
      div.custom-header.clearfix
        h3.custom-month-year
          span#custom-month.custom-month 
          span#custom-year.custom-year
          nav
            span#custom-prev.custom-prev
            span#custom-next.custom-next
            span#custom-current.custom-current(title='Got to current date')
      div#calendar.fc-calendar-container