doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    include head
    block content
    block scripts
      script(src="/js/libs/jquery.js")
      script(src="/js/libs/foundation.js")
      script(type="text/javascript")
        $(document).foundation();