extends layout

block content
  section.login
    .row
      .small-8.medium-4.small-centered.columns.icon
        img(src="/img/lock.png", alt="lock")
        p.protection
          strong This is a protected area.
          |  Please enter your password to continue.

      form(method="POST" action="/" role="form")
        .row
          .small-8.medium-4.small-centered.columns.input
            label Password
              input(type="password" name="password" required)
        .row
          .small-8.medium-4.small-centered.columns.btn-container
            button(type='submit' class="authenticate") Authenticate